# =========================
# Java / Maven Ignore
# =========================
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ / IDE Ignore
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# OS / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Credentials
# =========================
*.env
application-prod.properties

